pipeline/Scheduled_Logging.json
{
	"name": "Scheduled_Logging",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline 2",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Ingestion_Logging",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"schema": {
							"value": "@pipeline().parameters.schema",
							"type": "Expression"
						},
						"table": {
							"value": "@pipeline().parameters.table",
							"type": "Expression"
						},
						"backdate": {
							"value": "@pipeline().parameters.backdate",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute Pipeline 2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": {
						"value": "@pipeline().parameters.alertsUrl",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"pipeline_name\" : \"@{pipeline().Pipeline}\",\n    \"run_id\" : \"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LogFailure",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Execute Pipeline 2",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_database",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE source.pipeline_run_log\nSET status = 'Failed',\n    end_time = SYSUTCDATETIME(),\n    error_message = '@{activity('Execute Pipeline 2').Error.Message}'\nWHERE run_id = '@{activity('Execute Pipeline 2').output.pipelineRunId}'\n",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "string",
				"defaultValue": "source"
			},
			"table": {
				"type": "string",
				"defaultValue": "Orders"
			},
			"backdate": {
				"type": "string"
			},
			"alertsUrl": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-07-20T08:17:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}